.container {
  width: 60%;
  margin: auto;
  border-radius: 20px;
  background-color: rgb(236, 179, 72);
  box-shadow: 5px 5px 2.5px rgb(190, 133, 26);
  padding: 20px;
  margin-top: 50px;
}

h1 {
  text-align: center;
}
